#intro {
  height: 100&;
}
.intro__inner {
  width: 100%;

  @media (max-width: 800px) {
    padding-top: 40px;
    justify-content: center;
  }

  .intro__title {
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 900;
    white-space: nowrap;
    text-indent: -0.5vw;
    letter-spacing: -0.3vw;

    @media (max-width: 320px) {
      display: none;
    }
  }
  .intro__text {
    padding-bottom: 0px;
    background-color: var(--black);
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .text {
      font-size: 3vw;
      line-height: 1;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      z-index: 100;
      transition: all 0.3s;
      cursor: all-scroll;

      @media (max-width: 800px) {
        font-size: 24px;
      }
      .img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 650 px;
        height: 800 px;
        overflow: hidden;

        @media (max-width: 320px) {
          width: 20vh;
          height: 20vh;
        }
      }
    }
    &:hover .text {
      opacity: 0;
    }
  }
  .intro__lines {
    width: 100%;

    .line {
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--black);
      margin-bottom: 0.5vw;

      &:nth-child(1) {
        height: 1px;
      }
      &:nth-child(2) {
        height: 2px;
      }
      &:nth-child(3) {
        height: 5px;
      }
      &:nth-child(4) {
        height: 9px;
      }
      &:nth-child(5) {
        height: 13px;
      }
      &:nth-child(6) {
        height: 17px;
      }
      &:nth-child(7) {
        height: 25 px;
      }
    }

    &.bottom {
      .line {
        margin-top: 0.5vw;
        margin-bottom: 0;
        display: none;

        @media (max-width: 800px) {
          display: block;
        }

        &:nth-child(1) {
          height: 25px;
        }
        &:nth-child(2) {
          height: 17px;
        }
        &:nth-child(3) {
          height: 13px;
        }
        &:nth-child(4) {
          height: 9px;
        }
        &:nth-child(5) {
          height: 5px;
        }
        &:nth-child(6) {
          height: 2px;
        }
        &:nth-child(7) {
          height: 1px;
        }
      }
    }
  }
}
